
:root {
    --baseColor : #9F7854;
    --baseColor2 : #be9671;
    --baseGrey : #3A3737;

}

body {
    width : 100%;
    margin : auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/****** HEADER ****/

.header {
    width : 100%;
}

.bandeau {
    background-image: url("images/bandeau.jpg");
    display: flex;
    justify-content: left;
    align-items: normal;
    background-size: cover;
    width : 100%;
    height: 100vh;
    text-align: start, left;
}

.logo img {
    width : 120%;
    min-width: 500px;
}

/** NAV BARRE ******************************************************************* */

.nav {
    background-color: var(--baseColor);
    width : 100%;
    height: 70px;
    display: flex;
}

.boutons {
    display: inline-block;
    padding-left : 0.7%;
    width : 12%;
    height: inherit;
    display: flex;
    margin: auto;

    white-space: nowrap; /* interdiction de passer à la ligne */
    overflow: hidden;
    text-align: center;
}

.boutons :hover {
    cursor: pointer;
    background-color: var(--baseColor2);
    width : 100%;
    height : 70px;
    padding-top: 20px;
    margin: auto;
}

.boutons a {
    margin: auto;
    color : white;
    font-size: 1.3em;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;

}

/** FIN NAV BARRE *********** */

/** FIN HEADER ************** */

.conteneur {
    width: 86%;
    margin: auto;
}

/** ARTICLE PRINCIPAL ************************************************************* */

.artPrincipal, .preambule {
    
    font-size: 1.2em;
}

.titrePrincipal {
    display: flex;
}

.textePrincipal p {
    max-width: 90%;
    margin: auto;
    padding-top: 4%;
}

.titrePreambule {
    color: var(--baseGrey);
    margin-top: 6%;
    text-align: center;
    font-size: 2em;
}

.articlePreambule {
    margin-top: 5%;    
    display: flex;
}

.articlePreambule img {
    float: right;
    margin : 10px 200px 100px 10px;
    object-fit: cover;
    width: 200%; 
}

.articlePreambule p {
    margin-top: 2%;
}

/** FIN ARTICLE PRINCIPAL ********** */

/** BARRE TITRE ***************************************************************************** */
.titre {
    white-space: nowrap; /* interdiction de passer à la ligne */
    width: 70%;
    background-color: var(--baseColor);
    padding-top : 1px;
    color : white;
    font-size: 2em;
    height : 70px;
}

.titre p {
    margin : 14px 0 0 40px;
}

/** FIN BARRE TITRE ************ */

/** ARTICLES ************************************************************************** */

.article, .articleG {
    margin-top: 5%;    
    display: flex;
}

.article img, .articleG img {
    width: 700px;
    height: 700px;
    object-fit: cover;

    border: solid 15px white;
    box-shadow: 5px 5px 5px grey;
}

.article p :hover, .articleG p :hover {
    cursor: pointer;
    opacity: 0.7;
}

.article img { 
    float: left;   
    margin : 10px 200px 30px 10px;
}

.articleG img {
    float: right;
    margin : 10px 10px 30px 200px;
}

.ss-titre {
    white-space: nowrap; /* interdiction de passer à la ligne */
    color : var(--baseGrey);
    font-size: 1.6em;
    font-weight: bold;
}

.ss-titre ~ span:not(.ss-titre) {
    font-weight: bold;
}

/** FIN ARTICLE *********** */

/** LES IMAGES D'ARTICLES 1 & 2 *********************************************** */

.article1 .article img {
    float: right;
    border: none;
    box-shadow: none;
    margin : 0px 50px 30px 200px;
    /* margin : 1%; */
    width: 525px;
    height: 525px;
    object-fit: contain;
}

.article2 .article img {
    float: left;
    border: none;
    box-shadow: none;   
    margin : 0px 200px 30px 10px;
    width: 640px;
    height: 428px;
    object-fit: contain;
}

.article2 img {
    width: 400px;
    margin-left: 240px;
    margin-bottom: -27px;
}

/** FIN IMAGES D'ARTICLES 1 & 2 *********** */

/** LES SEPARATIONS ***************************************************************** */

.espace {
    height: 70px;
}

.lignes {
    margin-top: 35px;
}

.lignes hr {
    height: 10px;
    background-color: var(--baseColor);
}

.titre2, .titre3 {
    display: flex;
}

.titrePrincipal img, .titre2 img, .titre3 img { /** Les titre en formes de Doug le chien **/
    max-width : 50%;
    max-height: 50vh;
    padding-top: 4%;
    margin: auto;
}

/** FIN SEPARATIONS ************ */

/** BOUTONS RETOUR *************************************************************** */

    /** BOUTONS (type 1) ***** */

.divRetour {
    width: 45%;
    margin-top: -10px;
    display: flex;
    justify-content: center;
}

.retour {
    text-align: center;
    width: 10%;
    font-size: 1.5em;
    padding : 20px 0px;
}

.retour a {
    text-decoration: none;
    color: var(--baseColor);
}

.retour :hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--baseColor2);
}

    /** FIN BOUTONS (type 1) **** */

/** BOUTON (type 2) ***** */

.divRetour2 {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.retour2 {
    text-align: center;
    width: 10%;
    font-size: 1.5em;
    padding : 20px 0px;
    background-color: var(--baseColor);
}

.retour2 a {
    text-decoration: none;
    color: white;
}

.retour2 :hover {
    padding : 20px 32px;
    text-decoration: none;
    background-color: var(--baseColor2);
    color: white;
}

/** FIN BOUTONS (type 2) **** */

/** FIN BOUTONS RETOUR *********** */

/** FOOTER ************************************************************************* */

.toutou img {
    margin-bottom: -3px;
    margin-left: -1px;
}

.footer {
    width: 100%;
    height: 120px;
    background-color: var(--baseColor2);
    padding: 1px;
}

.footer p {
    margin: 15px 100px;
    color : white;
}

.footer p span {
    margin-top: 20px;
    color : var(--baseGrey);
}

/** FIN FOOTER ******** */

/** DIAPORAMA **************************************************************** */

#cache {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.7);
}

#diaporama {
    visibility: hidden;
    opacity: 0;
}

#slider-container {
     
    height: 800px;
    width: 58%;
    top: 48%; 
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    position: fixed;
    overflow: hidden;
    text-align: center;
}

.menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
}

.menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}

.menu label:hover, .menu label:focus {
    cursor: pointer;
    background: var(--baseColor2);
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s 0.75s;
}

[id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

.slide-1, .dot1 {
    background-image: url("images/border.jpg");   
}

.slide-2 {
    background-image: url("images/corgi3.jpg");   
}

.slide-3 {
    background-image: url("images/leonberg.jpg");   
}

.slide-4 {
    background-image: url("images/tamaskan2.jpg");   
}

.slide-5 {
    background-image: url("images/husky2.jpg");   
}

/** BOUTON QUITTER ********** */

#quitter {
    top: 95%; 
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    position: fixed;
    display: flex;
    background-color: var(--baseColor);
}

.quit {
    text-align: center;
    font-size: 1em;
    padding : 10px 0px;
}

.quit span {
    padding : 10px 15px;
    text-decoration: none;
    color: white;
}

.quit :hover {
    cursor: pointer;
    text-decoration: none;
    background-color: var(--baseColor2);
}

/** FIN BOUTON QUITTER ***** */

/** FIN DIAPORAMA ******** */